{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}My Base Template{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<style type="text/css">
			body { padding-top: 60px; }
	</style>

	<script src="{% static "assets/js/jquery-2.0.0.min.js" %}"></script>
	
	<script src="{% static "assets/js/ajax.js" %}"></script>


</head>
<body>
	<div id="page">
	<div id=""sidebar>
		{% block sidebar %}
		<ul>
			<li><a href="/articles/all">Articles</a></li>
			<li><a href="/admin/">Admin</a></li>
		</ul>
		{% endblock %}
	</div>
	
	<div id="content">
		{% block content %}This is the content area{% endblock %}
		
		<div class="clearfix"></div>
		<img src="{% static "images/p.png" %}" width="100"/>
	</div>
		</div>
</body>
</html>
